/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

MainBackground.png		PNG  DISCARDABLE	"../resource/MainBackground.png"
DeviceBackground.png	PNG  DISCARDABLE	"../resource/DeviceBackground.png"
KnobBackground.png      PNG  DISCARDABLE	"../resource/KnobBackground.png"
KnobHandle.png          PNG  DISCARDABLE	"../resource/KnobHandle.png"
//KnobHandleHighlight.png	PNG  DISCARDABLE	"../resource/KnobHandleHighlight.png"
